img {
    height: 100px;
    width: 100px;
    outline: 2px blue solid;
}

body {
    display: flex;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.main-container {
    display: flex;
    flex-direction: column;
}