img {
    height: 100px;
    width: 100px;
    outline: 2px blue solid;
}
.horizontal,
.section-one,
.vertical,
.container,
.section-one-container,
.main-container {
    display: flex;
}
body {
    font-family: roboto;
    margin:0 0 0 0;
}

.header {
    font-size: 24px;
    color: #f9faf8
}

.secondary {
    font-size: 18px;
    color: #e5e7eb
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.vertical {
    flex-direction: column;
    justify-content: center;
}

.container {
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
    color:#e5e7eb;
    align-self: baseline;
    border: none;
}

p {
    margin: 0;
}

.horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.small-margin {
    margin: 10px 10px 10px 10px;
}

.section-one {
    justify-content: center;
    flex-direction: column;
    background-color: #1f2937;

}

.main-container {
    flex-direction: column;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.section-one-container {
    flex-direction: row;
}

.section-one-container > * {
    flex-basis: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.placeholder {
    background-color: grey;
}